.tabs {
  $border-color: #DFE5EC;
  $border-radius: 5px;

  width: 100%;
  margin-bottom: 20px;
  display: flex;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.5px;

  &__item {
    padding: 15px;
    flex: 1 0 auto;
    text-align: center;
    cursor: pointer;
    background-color: #fff;
    user-select: none;
    border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
    border-right: 1px solid $border-color;

    &:first-child {
      border-top-left-radius: $border-radius;
      border-bottom-left-radius: $border-radius;
      border-left: 1px solid $border-color;
    }

    &:last-child {
      border-top-right-radius: $border-radius;
      border-bottom-right-radius: $border-radius;
    }

    &.active {
      background-color: #2196F3;
      color: #ffffff;
      border: none;
    }

  }

}
