.tickets {

  &__item {
    padding: 17px 20px;
    background-color: #fff;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }

  .ticket {

    &__head {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;
    }

    &__price {
      font-size: 24px;
      line-height: 24px;
      color: #2196F3;
    }

    &__img img {
      width: 110px;
      height: 36px;
    }

  }

  .info {

    &__row {
      display: flex;

      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }

    &__col {
      flex: 1 0 auto;

      &-head {
        font-size: 12px;
        line-height: 18px;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        color: #A0B0B9;
      }

    }

  }

}
